<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<h1>Welcome <%= username %></h1>

<a href="/profile">Click here for Profile</a>
<br><br>

<a href="/logout">Click here for Logout</a>

</body>
</html>